* {
    font-family: 'Jura', sans-serif;
}

.header {
    margin: 100px auto 0 auto;
    max-width: 600px;
    text-align: center;
}

.start {
    text-align: center;
    margin-top: 15%;;
}

.hide {
    display: none;
}

.score-keeper {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}

.timer {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: 700;
    font-size: 1.2rem;
}

.scores {
    text-decoration: none;
}

#questionBlock {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
}

h1 {
    font-size: 40px;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.1s;
}

button:hover {
    background-color: silver;
    color: black;
}

.answers {
    display: block;
}
